#ownerHospitalPage {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.owner-hospital-info {
    display: flex;
    gap: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.owner-hospital-info_left {
    width: 40%;
}

.owner-hospital-info_left img {
    width: 100%;
    min-height: 350px;
    height: 100%;
    object-fit: cover;
}

.owner-hospital-info_right {
    padding: 20px;
    flex: 1;
}

.owner-hospital-info_right tr {
    width: 100% !important;
}

.owner-hospital-info_right td:nth-child(1) {
    width: 160px;
}

.queue-now {
    font-weight: bold;
}

#tablePatientList {
    width: 100% !important;
}

#tablePatientList tr {
    text-align: center;
}

#tablePatientList td:nth-child(1) {
    width: 120px;
    text-align: center !important;
}

#tablePatientList td {
    text-align: left;
}

.hospital-patient-list h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.owner-table-col-action {
    justify-content: center;
    display: flex;
    gap: 10px;
}

.btn-patient-finish,
.btn-patient-delete {
    width: 50px;
}